---
layout: 'layouts/subpage.njk'
url: 'projects'
---

{% import 'macros/project-macro.njk' as macro %}

<div class="flex flex-wrap items-center lg:justify-between sm:justify-center mt-9 ">

    {{ macro.project("../assets/osc.png", "https://oscscope.com/", "oscscope.com", "A harmony visualization web-app, made from scratch with pure javascript.", ['html', 'css', 'javascript']) }}


    {{ macro.project("../assets/swingbeats.png", "https://www.swingbeats.net/", "Swingbeats", "A dance education research project with Epic Lab which utilizes haptic feedback ankle bracelets.", ['swift', 'iot']) }}

    {{ macro.project("../assets/route.png", "https://devpost.com/software/transit-app-vjytbs", "Routeabaga", "A traffic and travel planning web-app, made during Inrix Hack 2022 utilizing Inrix APIs.", ['javascript', 'bootstrap', 'node.js']) }}

    {{ macro.project("../assets/travel.png", "https://luminous-dango-a795ef.netlify.app/", "Travel Blog", "A static react page styled with pure css, made while practicing with react components.", ['react']) }}

    {{ macro.project("../assets/spotify.png", "./spotify/index.html", "Spotify Recreation", "A from scratch recreation of styling Spotify's web player with pure css.", ['html', 'css']) }}

    {{ macro.project("../assets/skate.png", "./skateclubdesign.pdf", "SCU Skate Club", "A design project for the SCU Skate Club website featuring four pages in a neo-brutalist style.", ['figma']) }}

    {{ macro.project("../assets/card.png", "https://comforting-custard-2d7ce1.netlify.app/", "Digital Business Card", "A static react page styled with pure css, made to practice react workflow.", ['react']) }}

    {{ macro.project("../assets/cat.png", "./shadowcatsdesign.pdf", "Shadow Cats", "A redesign project for the non-profit organization, Shadow Cats.", ['figma']) }}

    {{ macro.project("../assets/pokemon.png", "./pokemon/index.html", "Who's that Pokemon?", "A simple pokemon guessing game, utilizing the PokeApi, to practice fetch in javascript.", ['html', 'css', 'javascript']) }}

</div>



    


    

