---
layout: 'layouts/base.njk'
url: 'home'
---
<div class="flex flex-col grow p-0 sm:p-11 ml-15 justify-center items-center sm:items-start">
    <h1 id="string" class="text-white font-semibold text-center sm:text-start text-6xl min-h-[7.5rem] md:text-7xl md:min-h-[9rem] lg:text-8xl lg:min-h-[12rem] max-w-3xl">
    </h1>
    <p class="text-grey text-xl text-center sm:text-start mt-7">
      Web Developer and Music Enjoyer
    </p>    
    <a class="flex items-center justify-center bg-accent h-14 w-60 font-bold text-xl rounded-sm shadow-black shadow-lg mt-7 hover:text-accent hover:bg-transparent hover:border-2 border-accent transition active:text-violet-800 active:border-violet-800" id="download" download="Daniel Grant Resume - 2023" href="./documents/resume.pdf">download _CV</a>
</div>


<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js">  </script>

<script>

new TypeIt("#string", {
  strings: ["Hello, I'm <span style='color:#682AE9'>_daniel</span>. Nice to meet you."],
}).go();
  
</script>