<header class="w-full flex justify-between py-4">
    <a href="/" class="text-accent font-bold text-3xl sm:text-4xl">_daniel<span class="text-white">grant</span>.</a>
    <nav class="flex items-center">
        <ul class="flex font-semibold text-grey flex-col sm:flex-row" >
            <li class="ml-6 md:ml-10 hover:text-white {{'text-white' if url === 'home'}} ">
                <a href="/">_home</a>
            </li>
            <li class="ml-6 md:ml-10 hover:text-white {{'text-white' if url === 'projects'}}">
                <a href="/projects">_projects</a>
            </li>
            <li class="ml-6 md:ml-10 hover:text-white {{'text-white' if url === 'music'}}">
                <a href="/music">_music</a>
            </li>
            <li class="ml-6 md:ml-10 hover:text-white {{'text-white' if url === 'contact'}}">
                <a href="/contact">_contact</a>
            </li>
        </ul>
    </nav>
</header>